.errors
  - form.object.errors.full_messages.each do |msg|
    .error= msg

= form.text_area :content, :style => 'height: 100px; width: 400px'
%br
= render :partial => 'posts/attachments', :locals => { :form => form }
%br
= form.submit 'Publikuj'