#page {
    width: 800px;
    margin: 0 auto;

    font-size: 13px;
    font-family: Verdana;

    a {
        color: #0000ff;
    }

    #header {
        a {
            color: #009999;
        }

        #links {
            text-align: right;
        }
    }

    #content {
    }
}

input[type="submit"] {
    cursor: pointer;
    padding: 4px;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}